<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title></title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width">
        <link rel="stylesheet" href="/cdn/css/bootstrap.min.css">
        <link rel="stylesheet" href="/cdn/css/bootstrap-responsive.min.css">
        <link rel="stylesheet" href="/cdn/css/main.css">
        <script src="/cdn/js/vendor/modernizr-2.6.2-respond-1.1.0.min.js"></script>
    </head>
    <body>
        {% include "public/includes/nav_bar.html" %}

        <div class="container">

            {% block content %}
            {% endblock %}

            <hr>

            <footer>
                <p>&copy; Company 2012</p>
            </footer>
        </div>

        <script src="//ajax.googleapis.com/ajax/libs/jquery/1.10.1/jquery.min.js"></script>
        <script>window.jQuery || document.write('<script src="/cdn/js/vendor/jquery-1.10.1.min.js"><\/script>')</script>
        <script src="/cdn/js/vendor/bootstrap.min.js"></script>
        <script src="/cdn/js/plugins.js"></script>
        <script src="/cdn/js/main.js"></script>

        <!-- Sign up at Segment.io for aggregated analytics management -->
        <script type="text/javascript">
          var analytics=analytics||[];analytics.load=function(e){var t=document.createElement("script");t.type="text/javascript",t.async=!0,t.src=("https:"===document.location.protocol?"https://":"http://")+"d2dq2ahtl5zl1z.cloudfront.net/analytics.js/v1/"+e+"/analytics.min.js";var n=document.getElementsByTagName("script")[0];n.parentNode.insertBefore(t,n);var r=function(e){return function(){analytics.push([e].concat(Array.prototype.slice.call(arguments,0)))}},i=["identify","track","trackLink","trackForm","trackClick","trackSubmit","pageview","ab","alias"];for(var s=0;s<i.length;s++)analytics[i[s]]=r(i[s])};
          analytics.load("xxxxxxx"); // update with your code.
        </script>
        <!-- /end: Segment.io -->
    </body>
</html>
